<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>[laba 5] ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A06F4BDA1EE4A37900F2E454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A06F4BF11EE4A37A00F2E454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A06F4BFC1EE4A37A00F2E454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
